[submodule "authorize"]
	path = authorize
	url = ssh://git@youngra.ca:2222/roomsec/authorize
[submodule "wiringPi"]
	path = wiringPi
	url = git://git.drogon.net/wiringPi

[submodule "fingerprintauthn"]
	path = fingerprintauthn
	url = ssh://git@youngra.ca:2222/roomsec/fingerprintauthn
